@media (min-width: 801px) {
    .App {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 0px) and (max-width: 799px) {
    .App {
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

.App {
    text-align: center;
    position: absolute;
    width: 90vw;
    top: 100vh;
    display: grid;
    justify-content: space-between;
    /* border: 5px solid black; */
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.grid-controls {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
}